//  ======================================================================
//  Commands
//  ======================================================================

    .cmds {
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        padding-left: 0;
        transition: opacity 250ms ease-in-out;
    }
        .cmds.--in {
            opacity: 1;
        }
        .cmd {
            border-bottom: 1px solid #222222;
            padding: 1rem 10vw;
            overflow: auto;
        }
            .cmd__command {
                color: #dddddd;
                margin-top: 0;
                margin-bottom: 0;
                white-space: nowrap;
            }
                @media (min-width: 62em) {
                .cmd__command {
                    float: left;
                } }
            .cmd__description {
                margin-top: 0;
                margin-bottom: 0;
            }
                @media (min-width: 62em) {
                .cmd__description {
                    float: right;
                } }
            .cmd__examples {
                display: block;
                padding-top: 1rem;
            }
                @media (min-width: 62em) {
                .cmd__examples {
                    clear: both;
                } }
                .cmd__examples kbd {
                    display: block;
                    font-family: Consolas, Menlo, monospace, monospace;
                    white-space: nowrap;
                }
        .not-matching {
            display: none;
        }